@media (min-width: 800px) {
  /*-----------PRODUKT-----------*/
  .product_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    margin: 100px auto;
    gap: 100px;
  }

  .product_wrapper img {
    max-width: none;
  }

  /*-----------PRODUKTLISTE-----------*/
  .productlist_wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px;
    margin: 100px auto;
    gap: 50px;
  }

  .productlist_h2 {
    font-size: 1.5rem;
    margin-left: 150px;
  }

  /*-----------KATEGORI-----------*/

  .category_wrapper {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 50px auto;
  }

  .category {
    padding: 40px 20px;
  }
}
