@media (min-width: 800px) {
  /*-----------PRODUKT-----------*/
  .purchaseBox {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .purchaseBox img {
    max-width: 500px;
  }

  /*-----------PRODUKTLISTE-----------*/
  .productlist_wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1400px;
    margin: 100px auto;
    gap: 50px;
  }

  .productlist_h2 {
    font-size: 1.5rem;
    margin-left: 150px;
  }

  /*-----------KATEGORI-----------*/

  .category_wrapper {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 50px auto;
  }

  .category {
    padding: 40px 20px;
  }
}
